@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-primary: #03dac6;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

@utility pt-safe-top {
  padding-top: env(safe-area-inset-top, 20px);
}

@utility mt-safe-top {
  margin-top: env(safe-area-inset-top, 20px);
}

html, body {
  min-height: 100dvh;
  overscroll-behavior-y: none; /* Prevents native rubber-banding */
}
